.supplierDiv{
    width:100%;
    height: 100%;
    min-height: 100vh;
    background: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    

}
.shippmentDiv{
    width:100%;
    height: 100%;
    min-height: 100vh;
    background: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
  
    
    

}

.tabDiv{
    width: 100%;
    display: flex;
}
.tabDiv > div{
    width: 150px;
    font-family: 'Jura'sans-serif;
    font-size: 16px;
    cursor: pointer;
    
    
}
.tab-active{
    border-bottom: 3px solid #6f50ff;
    cursor: pointer;
    padding-left: 10px;
}
.tabDiv >div:nth-child(2){
    font-family: 'Jura'sans-serif;
    font-size: 16px;
    margin-left: 10px;
}

.tab-body{
    width:100%;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 15px;
    min-height: 30vh;
    height: 70%;
    padding: 20px;
}
.tab-body > div{
    margin: 10px;
}

.selector{
    margin-top: 10px;
}
.selectorSave{
    
    width: 30% !important;
    margin-top: 30px !important;
    background-color: #6f50ff !important;
    color: #fff !important;
}

.div-2-element{
    display: flex;
    justify-content: space-between;
}
.div-2-element > div{
    width: 100%;
    margin: 5px;
    margin-top: 10px;
}

.tab-body-more{
    width:100%;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 15px;
    min-height: 50vh;
    height: 100%;
    padding: 20px;
}
.tab-body-order-list{
    width:100%;
    margin-top: 20px;
    height: 100%;
    min-height: 50vh;
    padding: 10px;
    display: flex;
    border-radius: 15px;
    background-color: #fff;
}
.tab-body-order-2{
    width:100%;
    margin-top: 10px;
    border-radius: 15px;
    min-height: 30vh;
    
    padding: 20px;
}
.approval{
    width:100%;
    margin-top: 10px;
    border-radius: 15px;
    min-height: 20vh;
    background-color: #fff;
    padding: 20px;
}

.report{
    width:100%;
    margin-top: 10px;
    border-radius: 15px;
    min-height: 20vh;
    background-color: #fff;
    padding: 20px;
}

.tab-body-order-2 > div{
    margin-top: 10px;
}
.btn-bg{
    background-color: #6f50ff !important;
    color:#fff !important;
    margin-top: 10px;
}

#display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }
  .fileuploadDiv{
    display: inline-flex;
    align-items: center;
  }

  .fileuploadDiv > input{
    display: none;
  }
  .fileuploadDiv > button{
    -webkit-appearance: none;
  }
  .fileuploadDiv > span{
    padding-left: 20px;
  }

  .d-image{
    display: flex;
    width: 15%;
    justify-content: space-between;
    padding-top:20px
    
  }
  .d-image > span{
    font-size:10px
  }

  .d-image > div{
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .submitBtnParent{
    width:100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
   align-items: center;
    
  }

  .user-name{
    width: 100%;
    text-align: center;
  }
  .rolename{
    margin-left: 10px;
    font-family: 12px;
    font-family: 'Jura' sans-serif;
  }

  .smaly{
    font-size: 12px;
    color:#fff
  }

  .userProfile{
    display: flex;
    padding: 10px;
   
    cursor: pointer;
    justify-content: left;
    width: 100%;
    color:#000;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Jura' sans-serif;
    
}

.contentHeader{
    width:100%;
    justify-content: space-around;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Jura'sans-serif;

}

.contentHeader > div{
    display: flex;
    justify-content: center;
}


.contentHeader >div:nth-child(1){
    width: 100%;
    flex: 0 0 7%;
   
    margin-right: 5px;

}
.contentHeader >div:nth-child(2){
    width: 100%;
    flex: 0 0 40%;
   
    margin-right: 5px;
}

.contentHeader >div:nth-child(3){
    width: 100%;
    flex: 0 0 7%;
    margin-right: 5px;
}
.contentHeader >div:nth-child(4){
    width: 100%;
    flex: 0 0 10%;
    margin-right: 5px;

}
.contentHeader >div:nth-child(5){
    width: 100%;
    flex: 0 0 10%;
    margin-right: 5px;
    
}
.contentHeader >div:nth-child(6){
    width: 100%;
    flex: 0 0 10%;
    margin-right: 5px;
   
    

}
.contentHeader >div:nth-child(7){
    width: 100%;
    flex: 0 0 10%;
    margin-right: 5px;
}





.contentParent{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
    cursor: pointer;
}
.content{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.discount_content{
    display: flex;
    width: 100%;
    padding-right: 3%;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}
.discountDiv{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
}
.discountDiv > input{
    width: 100px !important;
    font-size: 12px;
}

.content >div:nth-child(1){
    width: 100%;
    flex: 0 0 5%;
    background-color: #000;
    margin-right: 5px;

}
.content >div:nth-child(2){
    width: 100%;
    flex: 0 0 40%;
    
    margin-right: 5px;
}

.content >div:nth-child(3){
    width: 100%;
    flex: 0 0 7%;
    margin-right: 5px;
}
.content >div:nth-child(4){
    width: 100%;
    flex: 0 0 10%;
    margin-right: 5px;

}
.content >div:nth-child(5){
    width: 100%;
    flex: 0 0 10%;
    margin-right: 5px;
}
.content >div:nth-child(6){
    width: 100%;
    flex: 0 0 10%;
    margin-right: 5px;
}
.content >div:nth-child(7){
    width: 100%;
    flex: 0 0 10%;
    margin-right: 5px;
}

.content >div> input{
    font-size:12px ;
}

.addrow{
    margin-top: 10px;
}

.uploadattachment{
    margin-top: 30px;
    font-size: 13px;
}
.additionalcontent{
    margin-top: 5px;
}
.sn{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowplus{
    width:100px !important;
    font-size: 10px !important;
}

.close{
    align-self: center;
    cursor: pointer;
}

.allsupplier{
    font-size: 12px !important;
    font-family: 'Jura'sans-serif;
}
.ordertype{
    font-size: 12px !important;
    font-family: 'Jura'sans-serif;
}

.title{
    width:100%;
    height: 40px;
    background-color: #dedede;
    padding: 5px;
}

.contentList{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    margin-top: 20px;
}
.contentHead{
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: 'Jura' sans-serif;
}

.view-more{
    font-family: 'Jura' sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    color: #003300;
    cursor: pointer;
}

.overlayApproval{
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    z-index: 3;
    position: absolute;
    background-color: transparent;
    
   
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
}

.Addapprovalmodalcard{
    width:500px;
    min-height: 40vh;
    border-radius: 10px;
    background-color: #fff;
    border:1px solid #ccc;
}
.monitorCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.mytable{
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.mytable tr{
    font-size: 12px;
}
.mytable thead{
    font-weight: bold;
}
.trenches{
    font-size: 13px;
    font-weight: bold;
}

.trench{
    font-size: 12px;
}
.POcontentmodal{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.POcontentmodal >div:nth-child(1){
    font-size: 18px;
    font-weight: bold;
}

.invoice{
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 800px;
}

table tr td{
    font-size: 14px;

}

table th{
    font-size: 16px;
}

.customModal{
    padding:20px;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 3.5px 3.5px 3.5px 3.5px #e5e5e5;
}

.modalSupplier{
    width: 500px;
    height: 40vh;
}

.modalClassCustom{
    display: flex;
    width: 100%;
    justify-content: center;
}
.modalTitle{
    display: flex;
    justify-content: space-between;
}
.modalTitle> div:nth-child(2){
    font-weight: bolder;
}
.closeModal{
    cursor: pointer;
}

.space-top-md{
    margin-top: 20px;
}

.space-top-sm{
    margin-top: 10px;
}

.divSegment-4{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.divSegment-4 > div{
    flex: 0 0 calc(25% -20px);
    margin: 10px;
   
}
.borderCurve{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    
}

h4{
    margin-top: 20px;
    margin-bottom: 10px;
}

.currencyDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-bottom: 20px;
}
.currencyDiv >select{
    width: 20% !important;
}

.hideDelete{
    display: none !important;
}


